.title{
    text-align: center;
}

.form, .loading{
    width: 50%;
    margin: 0 auto;
}

.loading{
    text-align: center;
}

.items {
    flex: 1;
    padding: 10px;
    margin: 5px;
    width: 50%;
}

